body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
  justify-content: center;
  align-items: flex-start;

  margin-top: 2em;
}

.graphWindow {
  border: 2px solid black;
  height: 100%;
}
.container {
  height: 100%;
  width: 100%;
  max-width: 100%;
  padding: 0.5em;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.grammarContainer {
  width:100vw;
  height:30vh;
  margin: auto;
}
.grammarAxiom {
  margin-left:32%;
  width: 35%;
  height: 100%;
}

.rule {
  height: 80vh;
  max-height: 80vh;
}
.gridElement {
  height: 65vh;
  width: 35vw;
}
.content {
  flexgrow: 1;
  height: 80vh;
  width: 80vw;
}

